In [35]:
#Import Dependencies
import pandas as pd

In [36]:
#Read in csv data for County infeciton and death rates
infection_data = pd.read_csv("usa_county_wise.csv")
#Check for data read
infection_data.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,"Northern Mariana Islands, US",1/22/20,0,0
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,"Puerto Rico, US",1/22/20,0,0
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,"Virgin Islands, US",1/22/20,0,0

In [37]:
#Remove unwanted columns
infection_data.drop(["UID", "iso2", "iso3", "code3", "FIPS", "Combined_Key", "Country_Region"], axis=1, inplace=True)
infection_data.head()

,Admin2,Province_State,Lat,Long_,Date,Confirmed,Deaths
0,NaN,American Samoa,-14.2710,-170.1320,1/22/20,0,0
1,NaN,Guam,13.4443,144.7937,1/22/20,0,0
2,NaN,Northern Mariana Islands,15.0979,145.6739,1/22/20,0,0
3,NaN,Puerto Rico,18.2208,-66.5901,1/22/20,0,0
4,NaN,Virgin Islands,18.3358,-64.8963,1/22/20,0,0

In [38]:
#Rename columns for easier parsing later
infection_data.rename(columns={"Admin2":"county", "Province_State":"state", "Lat":"lat", "Long_":"long", "Date":"date", "Confirmed":"cases", "Deaths":"deaths"}, inplace=True)
infection_data.date = pd.to_datetime(infection_data.date)
infection_data.head()

,county,state,lat,long,date,cases,deaths
0,NaN,American Samoa,-14.2710,-170.1320,2020-01-22,0,0
1,NaN,Guam,13.4443,144.7937,2020-01-22,0,0
2,NaN,Northern Mariana Islands,15.0979,145.6739,2020-01-22,0,0
3,NaN,Puerto Rico,18.2208,-66.5901,2020-01-22,0,0
4,NaN,Virgin Islands,18.3358,-64.8963,2020-01-22,0,0

In [39]:
#Write df to a csv
infection_data.to_csv("docs/data/county_clean.csv")

In [40]:
#group data by date
date_group = infection_data.groupby("date")
#Create df of aggregates
date_sums = pd.DataFrame({"cases":date_group.cases.sum(), "deaths":date_group.deaths.sum()})
date_sums.head()

            cases  deaths
date
2020-01-22      1       0
2020-01-23      1       0
2020-01-24      2       0
2020-01-25      2       0
2020-01-26      5       0

In [41]:
#Write grouped data to new csv
date_sums.to_csv("docs/data/infection_date.csv")